@media screen and (max-width: 768px) {
  .section-1 {
    width: 100%;
  }
  .section-1 .container-1 {
    height: 550px;
  }
  .section-1 .container-1 .image-1 {
    width: 390px;
    height: 230px;
  }
  .section-1 .container-1 .image-1 img {
    width: 100%;
    height: 100%;
    margin-top: 180px;
    bottom: 0;
  }
  .section-1 .container-1 .image-1 p {
    width: 300px;
    height: 130px;
    font-size: 24px;
    top: 300px;
    left: 15px;
  }
  .section-1 .container-1 .image-1 button {
    top: 430px;
    left: 15px;
    top: 445px;
  }
  .section-1 .container-1 .image-2 {
    display: none;
  }
  .section-1 .container-1 .image-2-none {
    display: block;
    width: 390px;
    height: 320px;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
  }
  .section-1 .container-1 .image-2-none img {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    right: 0;
  }
  .section-2 {
    width: 100%;
  }
  .full {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 10px;
    padding: 5px;
  }
  .full .form-head {
    width: 300px;
  }
  .full .form-head h1 {
    width: 100%;
    text-align: center;
    -moz-column-break-after: auto;
         break-after: auto;
    font-size: 25px;
  }
  .full .form-head p {
    width: 100%;
  }
  .full .form-body {
    width: 100%;
  }
  .full .form-body .form-valid {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 350px;
  }
  .full .form-body .form-valid .form-box {
    margin: 0;
    margin-top: 10px;
  }
  .full .form-body .form-check input {
    row-gap: 50px;
  }
  .section-3 {
    width: 100%;
  }
  .section-3 .group-people {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 40px;
  }
  .section-3 .group-people .people {
    width: 370px;
    height: 300px;
    top: 0;
  }
  .section-3 .group-people .people img {
    width: 100%;
    height: 100%;
    top: 0;
  }
  .section-3 .group-people .people-text {
    width: 330px;
    height: 200px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 0;
  }
  .section-3 .group-people .people-text .para-1 {
    font-size: 25px;
    width: 100%;
    margin-top: 10px;
  }
  .section-3 .group-people .people-text .para-2 {
    width: 100%;
    font-size: 16px;
    margin-top: -30px;
  }
  .section-4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-4 .sec-4-text {
    width: 300px;
  }
  .section-4 .sec-4-text h1 {
    width: 100%;
    text-align: center;
    -moz-column-break-after: auto;
         break-after: auto;
    font-size: 25px;
  }
  .section-4 .sec-4-text p {
    width: 100%;
  }
  .section-4 .cards {
    left: 0;
    width: 100%;
  }
  .section-4 .cards .card {
    width: 100%;
  }
  .section-4 .cards .card img {
    width: 100%;
  }
  .section-4 .cards .card .content p {
    font-size: 20px;
  }
  .section-4 .cards .card .content .title {
    font-size: 20px;
  }
  .section-5 {
    width: 100%;
  }
  .section-5 {
    width: 100%;
  }
  .section-5 .sec-5-text h1 {
    font-size: 25px;
  }
  .section-5 .brand {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }
  .section-6 {
    width: 100%;
  }
  .section-6 .operation {
    width: 100%;
  }
  .section-6 .operation .sec-6-text {
    width: 330px;
    height: 90px;
    margin-left: 30px;
  }
  .section-6 .operation .sec-6-text h1 {
    width: 100%;
    height: 100%;
    font-size: 28px;
  }
  .section-6 .operation .work-operation {
    margin-top: 110px;
    padding: 0;
  }
  .section-6 .operation .work-operation .work-force {
    width: 330px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 20px;
  }
  .section-6 .operation .work-operation .work-force .work-men {
    width: 60px;
    height: 60px;
  }
  .section-6 .operation .work-operation .work-force .work-men img {
    width: 100%;
    height: 100%;
  }
  .section-6 .operation .work-operation .work-force p {
    width: 210px;
    height: 45px;
    font-size: 16px;
    text-align: center;
  }
  .section-6 .operation .operation-btn {
    margin-top: 30px;
  }
  .section-7 {
    width: 100%;
  }
  .section-7 .explore .job-navigation {
    display: flex;
    flex-direction: column;
  }
  .section-7 .explore .job-navigation .job-text {
    width: 330px;
    height: 145px;
    margin-left: -30px;
    margin-top: -20px;
  }
  .section-7 .explore .job-navigation .job-text h1 {
    font-size: 25px;
  }
  .section-7 .explore .job-navigation .job-btn {
    display: none;
  }
  .section-8 {
    width: 100%;
  }
  .sec-8 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sec-8 .news {
    width: 350px;
    margin-top: -30px;
  }
  .sec-8 .news h1 {
    width: 100%;
    font-size: 25px;
  }
  .sec-8 .slider {
    width: 100%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-top: 30px;
  }
  .sec-8 .slider .card {
    width: 100%;
  }
  footer {
    width: 100%;
  }
  footer .foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  footer .foot p {
    text-align: center;
    margin-top: 5px;
  }
  footer .foot .p-1 {
    margin-top: -3px;
  }
}/*# sourceMappingURL=media.css.map */